# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDE files
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
